<html>
    <head>

        <title>Flight search central</title>
        <link rel="stylesheet" type="text/css" class="ui" href="https://semantic-ui.com//dist/semantic.min.css">
        <meta charset="utf-8" />

        <style type="text/css">
            body { padding: 2rem 0 2rem 0; }
            .query .row { margin: 1rem 0 0 0; border-top: 1px dashed #888888; }
            .query .row .field { padding: 0.25rem 0 0.25rem 0; }
            .actions { margin: 1rem 0 0 0; padding: 2rem 0 0 0; border-top: 1px dashed #888888; }
        </style>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
        <script type="text/javascript" src="https://semantic-ui.com/dist/semantic.min.js"></script>

        <script type="text/javascript">
            var flightSearchWebsiteProviders = new Array();
        </script>

        <script type="text/javascript" src="js/kayak.eu.js"></script>
        <script type="text/javascript" src="js/momondo.de.js"></script>
        <script type="text/javascript" src="js/skyscanner.de.js"></script>
        <script type="text/javascript" src="js/klm.de.js"></script>

    </head>
    <body>

        <div id="root" class="ui container">

            <header class="ui header">
                <i class="plane icon"></i>
                <div class="content">
                    Search flights
                    <div class="sub header">Enter query</div>
                </div>
            </header>

            <div class="query ui grid form">
                <template>
                    <flight v-for="flight in inputModel.flights" v-on:remove-flight="removeFlight" v-bind:flight="flight" v-bind:key="flight.index">
                    </flight>
                </template>
                <div class="row addFlightSeparator">
                    <div class="four wide column">
                        <button class="ui labeled icon button" v-on:click="addFlight"><i class="plus square icon"></i><span>Add flight</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="two wide column">
                        <div class="field">
                            <label>Passengers</label>
                            <input class="flightSearchModel" v-model="inputModel.numberOfPassengers" type="number" />
                        </div>
                    </div>
                    <div class="two wide column">
                        <div class="field">
                            <label>Max transfers</label>
                            <input class="flightSearchModel" v-model="inputModel.maxTransfers" type="number" />
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="field">
                            <label>Max transfer duration</label>
                            <input class="flightSearchModel" v-model="inputModel.maxTransferDuration" />
                        </div>
                    </div>
                    <div class="three wide column">
                        <div class="field">
                            <label>Max total duration</label>
                            <input class="flightSearchModel" v-model="inputModel.maxTotalDuration" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="three wide column" v-for="providerCategory in providerCategories">
                        <div class="field">
                            <label>{{ providerCategory.name }}</label>
                        </div>
                        <div class="ui checkbox" v-for="provider in providerCategory.providers">
                            <input type="checkbox" class="activePageModel" v-bind:value="provider.title" v-model="inputModel.providersSelected" />
                            <label>{{ provider.title }}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="ui primary button" v-on:click="openWebsites">Open websites</button>
                </div>
            </div>

        </div>

        <script type="text/javascript">

            var flightSearchModelString = localStorage.getItem("flightSearchModel");
            var flightSearchModel = flightSearchModelString == null || flightSearchModelString.length <= 0 ? null : JSON.parse(flightSearchModelString);
            flightSearchModel.maxTotalDuration = flightSearchModel.maxTotalDuration || "";
            flightSearchModel.maxTransfers = flightSearchModel.maxTransfers || "";
            flightSearchModel.maxTransferDuration = flightSearchModel.maxTransferDuration || "";
            flightSearchModel.providersSelected = flightSearchModel.providersSelected || new Array();
            flightSearchModel.store = function() {
                console.log("Storing flight search model");
                localStorage.setItem("flightSearchModel", JSON.stringify(flightSearchModel));
            };

            var providerCategoriesByName = new Object();
            var providerCategories = new Array();
            for (var i=0; i < flightSearchWebsiteProviders.length; i++) {
                var providerCategoryName = flightSearchWebsiteProviders[i].category;
                var providerCategory = providerCategoriesByName[providerCategoryName];
                if (providerCategory == null) {
                    providerCategory = new Object();
                    providerCategory.name = providerCategoryName;
                    providerCategory.providers = new Array();
                    providerCategoriesByName[providerCategoryName] = providerCategory;
                    providerCategories.push(providerCategory);
                }
                providerCategory.providers.push(flightSearchWebsiteProviders[i]);
            }

            var vm = new Vue({
                el: '#root',
                data: {
                    inputModel: flightSearchModel,
                    providerCategories: providerCategories
                },
                methods: {
                    addFlight: function() {
                        this.inputModel.flights.push({
                            index: this.inputModel.flights.length
                        });
                    },
                    removeFlight: function(flight) {
                        if (this.inputModel.flights.length > 1) {
                            this.inputModel.flights.splice(this.inputModel.flights.indexOf(flight), 1);
                        }
                    },
                    openWebsites: function(event) {
                        for (var i=0; i < flightSearchWebsiteProviders.length; i++) {
                            if (this.inputModel.providersSelected.indexOf(flightSearchWebsiteProviders[i].title) > -1) {
                                flightSearchWebsiteProviders[i].openWebsite(flightSearchModel);
                            }
                        }
                    }
                },
                components: {
                    flight: {
                        props: ['flight'],
                        template: `
                            <div class="row flight">
                                <div class="one wide column">
                                    <div class="field">
                                        <label>&nbsp;</label>
                                        <button class="ui icon button" v-on:click="$emit('remove-flight', flight)"><i class="window close icon"></i></button>
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Departure date</label>
                                        <input class="flightModel" v-model="flight.departureDate" type="date" />
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Departure airport</label>
                                        <input class="flightModel" v-model="flight.departureAirport" placeholder="XXX" type="text" />
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Arrival date</label>
                                        <input class="flightModel" v-model="flight.arrivalDate" type="date" />
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Arrival airport</label>
                                        <input class="flightModel" v-model="flight.arrivalAirport" placeholder="XXX" type="text" />
                                    </div>
                                </div>
                                <div class="three wide column">&nbsp;</div>
                                <div class="one wide column">&nbsp;</div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Departure min time</label>
                                        <input class="flightModel" v-model="flight.departureMinTime" type="time" />
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Departure max time</label>
                                        <input class="flightModel" v-model="flight.departureMaxTime" type="time" />
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Arrival min time</label>
                                        <input class="flightModel" v-model="flight.arrivalMinTime" type="time" />
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <label>Arrival max time</label>
                                        <input class="flightModel" v-model="flight.arrivalMaxTime" type="time" />
                                    </div>
                                </div>
                            </div>
                        `
                    }
                }
            })
            vm.$watch('$data', function (newVal, oldVal) { flightSearchModel.store(); }, { deep: true });

        </script>

    </body>
</html>
